{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block page %}{% endblock page %}

{% block body_class %}template-contentitemindexpage{% endblock %}

{% block inner %}

{% include "fragments/content_page_header.html" %}

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            {% for post in page.get_children %}
            {% with post=post.specific %}
            <div class="post-preview">
                <a href="{% pageurl post %}">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <h3 class="post-subtitle">{{ post.intro }}</h3>
                </a>
                <p class="post-meta">
                    Posted by <a href="#!">{{ post.author.name }}</a> on {{ post.date }}
                </p>
            </div>
            {% endwith %}
            {% endfor %}

            <hr class="my-4" />

            <div class="d-flex justify-content-end mb-4">
                <a class="btn btn-primary text-uppercase" href="#!">
                    Older Posts→
                </a>
            </div>
        </div>
    </div>
</div>

{% include "fragments/content_page_footer.html" %}

{% endblock inner %}
